<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->

<head>

    <title>修改密码</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="../static/css/loginStyle.css" th:href="@{/css/loginStyle.css}" type="text/css"
          media="all">

    <!-- fontawesome -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"
          type="text/css" media="all">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

    <script type="text/javascript" src="../static/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            if ([[${msg}]] != null) {
                $("#formError").text([[${msg}]]);
            }
            $("#codeBtn").click(function () {
                $("#email").focus();
                $("#email").blur();
                if ($("#codeError").text() == "" && $("#emailError").text() == "") {
                    $.ajax({
                        url: [[${#request.getContextPath()}]] + "/user/sendCode?email=" + $("#email").val(),
                        dataType: "text",
                    });
                    $("#codeBtn").attr({"disabled": "disabled"});
                    var countDown = 60;
                    var count =  setInterval(function (){
                        countDown --;
                        if (countDown > 0) {
                            $("#codeBtn").val(countDown + "秒后重试");
                        } else {
                            $("#codeBtn").val("获取验证码");
                            $("#codeBtn").removeAttr("disabled");
                            clearInterval(count);
                        }
                    }, 1000)
                }
            })
            $("#code").on("blur", function () {
                if ($("#code").val() == "") {
                    $("#codeError").text("请输入验证码");
                }
            })
            $("#code").on("focus", function () {
                $("#codeError").text("");
            })
            $("#email").on("blur", function () {
                var emailRegExp = /^\w+([-+.]\w+)*@\w+([-.]\w+)*\.\w+([-.]\w+)*$/;
                if (!emailRegExp.test($("#email").val())) {
                    $("#emailError").text("请输入正确的邮箱");
                } else {
                    $.ajax({
                        url: [[${#request.getContextPath()}]] + "/user/emailInspection?email=" + $("#email").val(),
                        dataType: "text",
                        success: function (result) {
                            if (result == 2) {
                                $("#emailError").text("该邮箱未进行注册");
                                $("#codeBtn").attr({"disabled": "disabled"});
                            }
                        }
                    })
                }
            })
            $("#email").on("focus", function () {
                $("#codeBtn").removeAttr("disabled");
                $("#emailError").text("");
            })

            $("#submitBtn").click(function () {
                if ($("#emailError").text() == "" && $("#codeError").text() == "") {
                    $("#form").attr("action", [[${#request.getContextPath()}]] + "/user/changePassword");
                    $("#form").submit();
                }
            })
        });
    </script>
</head>
<body>

<section class="main">
    <div class="bottom-grid">
        <div class="logo">
            <h1><a href="index.html">主页</a></h1>
        </div>
    </div>
    <!-- register -->
    <div class="w3lhny-register">
        <div class="iconhny">
            <span class="fa fa-user-plus"></span>
        </div>
        <form method="post" class="register-form" id="form">
            <fieldset>
                <div class="form">

                    <div class="form-row" id="emailDiv">
                        <span class="fa fa-envelope"></span>

                        <input type="email" name="email" id="email" class="form-text" placeholder="邮箱" required="required">
                    </div>
                    <div class='form-row'>
                    <input type='text' name='code' id='code' placeholder='验证码' style='width: 100px' required='required'>&nbsp;&nbsp;&nbsp;
                    <input type='button' id='codeBtn' value='获取验证码' style="width: 6em"><span id="codeError" style="float: contour;color: #ff0000"></span>
                    </div>
                    <div class="form-error-div" id="emailErrorDiv">
                        <span id="emailError" class="form-error"></span>
                    </div>
                    <div class="form-row button-login">
                        <input type="button" id="submitBtn" class="btn btn-login" value="修改密码">
                    </div>
                    <div class="form-error-div">
                        <span id="formError" style="float: contour;color: #ff0000"></span>
                    </div>
                </div>
            </fieldset>
        </form>
        <p class="already"><a href="login.html" th:href="${#request.getContextPath()} + '/index/login'">登录</a></p>
    </div>
    <!-- //register -->
    <div class="w3l-copyright">
        <p>© 2020 Workspace Sign Up Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a>
        </p>
    </div>
</section>

</body>
</html>