<!DOCTYPE html>
<html lang="en">
<head>
    <title>游戏商城</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <meta name="keywords" content="" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href="../static/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="stylesheet" href="../static/css/style.css" type="text/css" media="all" />
    <link href="../static/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/chocolat.css" type="text/css" media="all">
</head>
<body>
<div class="portfolio" id="gallery">
    <div class="container">
        <div class="agileits-title">
            <h3>游戏商城</h3>
        </div>
        <ul class="simplefilter w3layouts agileits">
            <li class="active w3layouts agileits" data-filter="all">All</li>
            <li class="w3layouts agileits" data-filter="1">Category1</li>
            <li class="w3layouts agileits" data-filter="2">Category2</li>
            <li class="w3layouts agileits" data-filter="3">Category3</li>
            <li class="w3layouts agileits" data-filter="4">Category4</li>
            <li class="w3layouts agileits" data-filter="5">Category5</li>
        </ul>

        <div class="filtr-container w3layouts agileits">

            <div class="filtr-item w3layouts agileits portfolio-t" data-category="1, 5" data-sort="Busy streets">
                <a href="../static/images/p1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="../static/images/p1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="2, 5" data-sort="Luminous night">
                <a href="../static/images/p2.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="../static/images/p2.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="1, 4" data-sort="City wonders">
                <a href="../static/images/p3.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="../static/images/p3.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="3" data-sort="In production">
                <a href="../static/images/p4.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="../static/images/p4.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="3, 4" data-sort="Industrial site">
                <a href="../static/images/p5.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="../static/images/p5.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Peaceful lake">
                <a href="../static/images/p6.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="../static/images/p6.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="1, 5" data-sort="City lights">
                <a href="../static/images/p7.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="../static/images/p7.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Dreamhouse">
                <a href="../static/images/p8.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="../static/images/p8.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>

            <div class="filtr-item w3layouts agileits" data-category="2, 4" data-sort="Dreamhouse">
                <a href="../static/images/p1.jpg" class="b-link-stripe w3layouts agileits b-animate-go thickbox">
                    <figure>
                        <img src="../static/images/p1.jpg" class="img-responsive w3layouts agileits" alt="W3layouts Agileits">
                        <figcaption>
                            <h3>Gaming <span>Store</span></h3>
                        </figcaption>
                    </figure>
                </a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
</body>
</html>