<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!-- Head -->

<head>

    <title>重置密码密码</title>

    <!-- Meta-Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- style CSS -->
    <link rel="stylesheet" href="../static/css/loginStyle.css" th:href="@{/css/loginStyle.css}" type="text/css"
          media="all">

    <!-- fontawesome -->
    <link rel="stylesheet" href="../static/css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}"
          type="text/css" media="all">

    <!-- google fonts -->
    <link href="//fonts.googleapis.com/css?family=Mukta:300,400,500" rel="stylesheet">

    <script type="text/javascript" src="../static/js/jquery-3.4.1.js" th:src="@{/js/jquery-3.4.1.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        $(function () {
            if ([[${msg}]] != null) {
                $("#formError").text([[${msg}]]);
            }
            $("#password").on("blur", function () {
                var passwordRegExp = /^[^\s]*$/;
                if ($("#password").val().length < 6 || $("#password").val().length > 20) {
                    $("#passwordError").text("密码不能小于六位或大于二十位");
                } else if (!passwordRegExp.test($("#password").val())) {
                    $("#passwordError").text("密码中不能出现空格");
                }
            })
            $("#password").on("focus", function () {
                $("#passwordError").text("");
            })

            $("#passwordAgain").on("blur", function () {
                if ($("#password").val() != $("#passwordAgain").val()) {
                    $("#passwordAgainError").text("前后密码不一致");
                }
            })
            $("#passwordAgain").on("focus", function () {
                $("#passwordAgainError").text("");
            })
            $("#submitBtn").click(function () {
                $("#password").focus();
                $("#password").blur();
                $("#passwordAgain").focus();
                $("#passwordAgain").blur();
                if ($("#emailError").text() == "" && $("#passwordAgain").text() == "") {
                    $("#form").attr("action", [[${#request.getContextPath()}]] + "/user/resetPassword");
                    $("#form").submit();
                }
            })
        });
    </script>
</head>
<body>

<section class="main">
    <div class="bottom-grid">
        <div class="logo">
            <h1><a href="index.html">主页</a></h1>
        </div>
    </div>
    <!-- register -->
    <div class="w3lhny-register">
        <div class="iconhny">
            <span class="fa fa-user-plus"></span>
        </div>
        <form method="post" class="register-form" id="form">
            <fieldset>
                <div class="form">

                    <div class="form-row">
                        <span class="fa fa-lock"></span>

                        <input type="password" name="password" id="password" class="form-text" placeholder="密码"
                               required="required">
                    </div>
                    <div class="form-error-div" id="passwordErrorDiv">
                        <span id="passwordError" class="form-error"></span>
                    </div>
                    <div class='form-row'>
                        <span class='fa fa-lock'></span>

                        <input type='password' id='passwordAgain' class='form-text' placeholder='重复密码'
                               required='required'>
                    </div>
                    <div class='form-error-div'>
                        <span id='passwordAgainError' class='form-error'></span>
                    </div>

                    <div class="form-row button-login">
                        <input type="button" id="submitBtn" class="btn btn-login" value="重置密码">
                    </div>
                    <div class="form-error-div">
                        <span id="formError" style="float: contour;color: #00FF00"></span>
                    </div>
                </div>
            </fieldset>
        </form>
        <p class="already"><a href="login.html" th:href="${#request.getContextPath()} + '/index/login'">登录</a></p>
    </div>
    <div class="w3l-copyright">
        <p>© 2020 Workspace Sign Up Form. All rights reserved | Design by <a href="http://w3layouts.com">W3layouts</a>
        </p>
    </div>
</section>

</body>
</html>